* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: JetBrains Mono;
    src: url(/fonts/JetBrainsMono-Regular.ttf);
}

@media screen and (max-width: 391px ) {
    * {
    font-family: JetBrains Mono;
    }   
    body {
        background: linear-gradient(
            to bottom, 
            #FF5733 20%,  
            #3498DB 80%   
          );
    } 
    .forsidelogo {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60px;
        height: 70px;
        margin: auto; 
        padding-top: 1rem;
    }
 
    
    .burger-checkbox {
        display: none;
    }
    
    .burger {
        color: #214F22;
        display: flex;
        flex-direction: column;
        cursor: pointer;
        position: absolute;
        top: 1.5rem;
        right: 1rem;
        width: 1.5rem;
        margin: 0.5rem;
        height: 3rem;
        }
    
    .menubar ul li:focus-within > ul,
    .menubar ul li:hover > ul {
        display: block;
    }
    
    .menubar {
        display: none; 
        background-color: #FF5733;
        position: absolute;
        top: 5rem; 
        right: 0;
        width: 100%;
        text-align: left;
        font-family: JetBrains Mono;
        z-index: 9999;
       
    }
    
    .burger-checkbox:checked ~ .menubar {
        display: block;
    }
    
    .menubar ul {
        flex-direction: column;
        width: 100%;
        gap: 0;
        list-style: none;
        
    }
    
    .menubar ul li {
        text-align: center;
        color: black;
        padding-top: 1rem;
        text-decoration: none;
       
    }
    
    .menubar ul li ul{
        display: none;
    }
    
    .menubar ul li ul li {
        padding: 10px;
        border-bottom: 1px solid #ddd;
        color: black;
    }
    
    .menubar ul li ul li:last-child {
        border-bottom: none;
    }
    
    
    
    .menubar ul li ul li {
        text-align: left;
        padding: 0.5rem 1rem;
    }
    
    .menubar ul li ul li a {
        color: black;
        text-decoration: none;
        font-size: 0.9rem;
    }
    
    .menubar ul li ul li a:hover {
        text-decoration: none;
        color: #3498DB;
    }
.menuhr {
    border-color: black;
    margin: 1rem;
    
}


.frivilligh22 {
    text-decoration: none;
    color: black;
    font-family: JetBrains Mono;
    font-weight: bold;
    background-color: #214F22;
    border-radius: 3px;
    padding: 4px 1px;
    position: absolute;
    border: none;
    box-shadow: 2px 2px 4px 2px black;
    text-align: center;
    margin-top: -5rem;
}

h3 {
text-align: left;
font-size: 1rem;
font-family: JetBrains Mono;
margin: 1rem;
margin-top: -1rem;
}

h4 {
    text-align: left;
    font-size: 1rem;
    font-family: JetBrains Mono;
    margin-top: 0.8rem; 
}

.frivilligtext2{
    text-align: justify;
    margin: 1rem;
    font-family: JetBrains Mono;
    line-height: 1.8rem;  
    font-size: 0.8rem; 
    margin-top: 6rem;
}

.frivillig4 {
    height: 10rem;
    width: 23rem;
    margin: 0.7rem;
}

.footerbox {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 3rem;
    margin-top: 1rem;
}

.footerhr {
    border-color: black;
    margin-top: 2rem;
}
h5 {
    line-height: 2rem;
    text-align: center;
    font-size: 1.2rem;
    margin-top: 1rem;
}
.lokation{
    line-height: 2rem;
    text-align: center;

}

.kontaktoplysninger{
    line-height: 2rem;
    text-align: center;
}

p {
    font-size: 0.8rem;
}

.instagramlogo {
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
    border-radius: 0.5rem;
}

.facebooklogo {
    width: 2rem;
    height: 2rem;
}
.somelogo{
    display: flex;
    justify-content: space-evenly;
}
}



@media (min-width: 392px) and (max-width: 768px) {
    * {
        font-family: JetBrains Mono;
    }
    
    body {
        background: linear-gradient(
            to bottom, 
            #FF5733 20%,  
            #3498DB 80%   
          );
    }

    .forsidelogo {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80px;
        height: 90px;
        margin: auto; 
        padding-top: 1rem;
    }
    .forsidelogo {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60px;
        height: 70px;
        margin: auto; 
        padding-top: 1rem;
    }
  
    
    .burger-checkbox {
        display: none;
    }
    
    .burger {
        color: #214F22;
        display: flex;
        flex-direction: column;
        cursor: pointer;
        position: absolute;
        top: 1rem;
        right: 1rem;
        width: 1.5rem;
        margin: 0.5rem;
        height: 3rem;
        }
    
    .menubar ul li:focus-within > ul,
    .menubar ul li:hover > ul {
        display: block;
    }
    
    .menubar {
        display: none; 
        background-color: #FF5733;
        position: absolute;
        top: 5rem; 
        right: 0;
        width: 100%;
        text-align: left;
        font-family: JetBrains Mono;
        z-index: 9999;
       
    }
    
    .burger-checkbox:checked ~ .menubar {
        display: block;
    }
    
    .menubar ul {
        flex-direction: column;
        width: 100%;
        gap: 0;
        list-style: none;
        
    }
    
    .menubar ul li {
        text-align: center;
        color: black;
        padding-top: 1rem;
        text-decoration: none;
       
    }
    
    .menubar ul li ul{
        display: none;
    }
    
    .menubar ul li ul li {
        padding: 10px;
        border-bottom: 1px solid #ddd;
        color: black;
    }
    
    .menubar ul li ul li:last-child {
        border-bottom: none;
    }
    
    .menubar ul li ul li {
        text-align: left;
        padding: 0.5rem 1rem;
    }
    
    .menubar ul li ul li a {
        color: black;
        text-decoration: none;
        font-size: 0.9rem;
    }
    
    .menubar ul li ul li a:hover {
        text-decoration: none;
        color: #3498DB;
    }
    
    .menuhr {
        border-color: black;
        margin: 1rem;
        
    }
    
    h2 {
        text-align: left;
        font-size: 1.2rem;
        font-family: JetBrains Mono;
        margin: 1rem;
    }
    
    h3 {
        text-align: center;
        font-size: 1rem;
        font-family: JetBrains Mono;
        margin: 1rem;
        margin-top: -1rem;
    }
    h4 {
        text-align: center;
        font-size: 1rem;
        font-family: JetBrains Mono;
        margin-top: 0.8rem; 
    }
    .frivilligh22 {
        text-decoration: none;
        color: black;
        font-family: JetBrains Mono;
        font-weight: bold;
        background-color: #214F22;
        border-radius: 3px;
        padding: 4px 1px;
        border: none;
        box-shadow: 2px 2px 4px 2px black;
        text-align: center;
        margin-top: -10rem;
    }
    
    .frivilligtext2{
        text-align: justify;
        margin: 1rem;
        font-family: JetBrains Mono;
        line-height: 1.8rem;  
        font-size: 0.8rem; 
        margin-top: 2rem;
    }
    
    .frivillig4 {
        height: 18rem;
        width: 46rem;
        margin: 1rem;
    }
    
    
    .footerbox {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: 3rem;
        margin-top: 1rem;
    }
    
    .footerhr {
        border-color: black;
        margin-top: 2rem;
    }
    h5 {
        line-height: 2rem;
        text-align: center;
        font-size: 1.2rem;
        margin-top: 1rem;
    }
    .lokation{
        line-height: 2rem;
        text-align: center;
    
    }
    
    .kontaktoplysninger{
        line-height: 2rem;
        text-align: center;
    }
    
    p {
        font-size: 0.8rem;
    }
    
    .instagramlogo {
        width: 2rem;
        height: 2rem;
        margin-right: 1rem;
        border-radius: 0.5rem;
    }
    
    .facebooklogo {
        width: 2rem;
        height: 2rem;
    }
    .somelogo{
        display: flex;
        justify-content: space-evenly;
    }
}


@media (min-width: 769px) {
    * {
        font-family: JetBrains Mono;
    }
    
    
    body {
        background: linear-gradient(
            to bottom, 
            #FF5733 20%,  /* Startfarve: orange */
            #3498DB 80%   /* Slutfarve: blå */
          );
    }
    .burger-checkbox {
        display: none;
    }
    
    .burger{
    display: none;
    }
    .navbar {
        display: flex;
        justify-content: space-around;
    }
    .forsidelogo {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 110px;
        height: 120px;
        margin-left: 3rem; 
        padding-top: 1rem;
  }
    .menubar {
        text-align: center;
        background-color: #FF5733;
    }
    
    .menubar ul {
        display:inline-flex;
        color:#FF5733;
        padding-top: 5rem;
    }
    
    .menubar ul li {
        width: 220px;
        margin: 15px;
        padding: 15px;  
        list-style: none;
    }
    
    .menubar ul li a {
        transition: color 0.3s;
        
    }
    
    .menubar ul li a:hover {
        transform: scale(1.1);
       
    }
    
    .menubar ul li:focus-within > ul,
    .menubar ul li:hover > ul {
    display: block;
}
    
    .menubar ul li a {
        text-decoration: none;
        color: black;
    }
    
    .menubar ul li ul {
        display: none;
    }
    
    .menuhr {
        border-color: black;
        margin: 1rem;
        
    }
    
    h2 {
        text-align: left;
        font-size: 1.2rem;
        font-family: JetBrains Mono;
        margin: 4rem;
    }
    
    h3 {
        text-align: center;
        font-size: 1.5rem;
        font-family: JetBrains Mono;
        margin: 1rem;
        margin-top: -1rem;
    }
    h4 {
        text-align: center;
        font-size: 1rem;
        font-family: JetBrains Mono;
        margin-top: 0.8rem; 
    }

    .frivilligh22 {
        text-decoration: none;
        color: black;
        font-family: JetBrains Mono;
        font-weight: bold;
        background-color: #214F22;
        border-radius: 3px;
        padding: 4px 1px;
        border: none;
        box-shadow: 2px 2px 4px 2px black;
        text-align: center;
        margin: 3rem;
        font-size: 1.5rem;
    }
    
    .frivilligtext2{
        text-align: justify;
        margin: 4rem;
        font-family: JetBrains Mono;
        line-height: 1.8rem;  
        font-size: 1rem; 
        margin-top: 2rem;
    }
    
    .frivillig4 {
        height: 21rem;
        width: 49rem;
        margin: 13rem;
        padding-left: 13rem;
        margin-top: 1rem;
    }

    .footerbox {
        display: flex;
        align-items: center;
        flex-direction: row;
        margin: 1rem;
        justify-content: space-evenly;
    }
    
    .footerhr {
        border-color: black;
        margin-top: -9rem;
    }
    h5 {
        line-height: 2rem;
        text-align: center;
        font-size: 1.2rem;
        margin-top: 1rem;
    }
    .lokation{
        line-height: 2rem;
        text-align: center;
    
    }
    
    .kontaktoplysninger{
        line-height: 2rem;
        text-align: center;
    }
    
    p {
        font-size: 0.8rem;
    }
    
    .instagramlogo {
        width: 2rem;
        height: 2rem;
        margin-right: 1rem;
        border-radius: 0.5rem;
    }
    
    .facebooklogo {
        width: 2rem;
        height: 2rem;
    }

    .somelogo{
        display: flex;
        justify-content: space-evenly;
    }
}

