* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: JetBrains Mono;
    src: url(/fonts/JetBrainsMono-Regular.ttf);
}


@media screen and (max-width: 391px ) {
* {
font-family: JetBrains Mono;
}   
body {
    background: linear-gradient(
        to bottom, 
        #FF5733 20%,  
        #3498DB 80%   
      );
} 

.forsidelogo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 70px;
    margin: auto; 
    padding-top: 1rem;
}

.burger-checkbox {
    display: none;
}

.burger {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 3rem;
    margin: 0.5rem;
}

.line {
    height: 0.2rem;
    background-color: #214F22; 
    margin: 5px 0;
    border-radius: 0.2rem; 
}


.menu {
    display: none; 
    background-color: #FF5733;
    position: absolute;
    top: 5rem; 
    right: 0;
    width: 100%;
    text-align: left;
    font-family: JetBrains Mono;
    z-index: 9999;
}

.menu ul {
    list-style: none;
}

.menu ul li {
    padding: 1.5rem;
}

.menu ul li a {
    color: black;
    text-decoration: none;
    font-size: 1.8rem;
    display: block;
}

.burger-checkbox:checked + .burger + .menu {
    display: block;
}

.menuhr {
    border-color: black;
    margin: 1rem;
    
}

h2 {
    text-align: left;
    font-size: 1.2rem;
    font-family: JetBrains Mono;
    margin: 1rem;
}

h3 {
text-align: left;
font-size: 1rem;
font-family: JetBrains Mono;
margin: 1rem;
margin-top: -1rem;
}

.frivilligh2 {
    text-decoration: none;
    color: black;
    font-family: JetBrains Mono;
    font-weight: bold;
    background-color: #214F22;
    border-radius: 3px;
    padding: 4px 1px;
    position: absolute;
    border: none;
    box-shadow: 2px 2px 4px 2px black;
    text-align: center;
    margin-top: -5rem;
}

.frivilligtext1{
    text-align: justify;
    margin: 1rem;
    font-family: JetBrains Mono;
    line-height: 1.8rem;  
    font-size: 0.8rem; 
    margin-top: 6rem;
}

h4 {
    text-align: left;
    font-size: 1rem;
    font-family: JetBrains Mono;
    margin-top: 0.8rem; 
}

.frivilligbillede123 {
    position: relative;
    width: 275px;
    height: 325px;
}

.mand{
    position: absolute;
    height: 7rem;
    width: 11rem;
    top: 1rem;
    right: 5rem;
}

.blae{
    position: absolute;
    height: 7rem;
    width: 11rem;
    top: 7rem;
    right: -5rem;
    
}

.pige {
    position: absolute;
    height: 7rem;
    width: 11rem;
    top: 13rem;
    right: 5rem;
    
}

.frivilligh22 {
    text-decoration: none;
    color: black;
    font-family: JetBrains Mono;
    font-weight: bold;
    background-color: #214F22;
    border-radius: 3px;
    padding: 4px 1px;
    position: absolute;
    border: none;
    box-shadow: 2px 2px 4px 2px black;
    text-align: center;
    margin-top: -5rem;
}

.frivilligtext2{
    text-align: justify;
    margin: 1rem;
    font-family: JetBrains Mono;
    line-height: 1.8rem;  
    font-size: 0.8rem; 
    margin-top: 6rem;
}

.frivillig4 {
    height: 10rem;
    width: 23rem;
    margin: 0.7rem;
}


.footerbox {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 3rem;
    margin-top: 1rem;
}

.footerhr {
    border-color: black;
    margin-top: 2rem;
}
h5 {
    line-height: 2rem;
    text-align: center;
    font-size: 1.2rem;
    margin-top: 1rem;
}
.lokation{
    line-height: 2rem;
    text-align: center;

}

.kontaktoplysninger{
    line-height: 2rem;
    text-align: center;
}

p {
    font-size: 0.8rem;
}

.instagramlogo {
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
    border-radius: 0.5rem;
}

.facebooklogo {
    width: 2rem;
    height: 2rem;
}
}






@media (min-width: 392px) and (max-width: 768px) {
    * {
        font-family: JetBrains Mono;
    }
    
    body {
        background: linear-gradient(
            to bottom, 
            #FF5733 20%,  
            #3498DB 80%   
          );
    }


    .forsidelogo {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80px;
        height: 90px;
        margin: auto; 
        padding-top: 1rem;
    }
    
    .burger-checkbox {
        display: none;
    }
    
    .burger {
        display: flex;
        flex-direction: column;
        cursor: pointer;
        position: absolute;
        top: 2rem;
        right: 2rem;
        width: 3rem;
        margin: 0.5rem;
        
    }
    
    .line {
        height: 0.2rem;
        background-color: #214F22; 
        margin: 5px 0;
        border-radius: 0.2rem; 
    }
    
    
    .menu {
        display: none; 
        background-color: #FF5733;
        position: absolute;
        top: 5rem; 
        right: 0;
        width: 100%;
        text-align: left;
        font-family: JetBrains Mono;
        z-index: 9999;
    }
    
    .menu ul {
        list-style: none;
    }
    
    .menu ul li {
        padding: 1.5rem;
    }
    
    .menu ul li a {
        color: black;
        text-decoration: none;
        font-size: 1.8rem;
        display: block;
    }
    
    .burger-checkbox:checked + .burger + .menu {
        display: block;
    }
    
    .menuhr {
        border-color: black;
        margin: 1rem;
        
    }
    
    h2 {
        text-align: left;
        font-size: 1.2rem;
        font-family: JetBrains Mono;
        margin: 1rem;
    }
    
    h3 {
        text-align: center;
        font-size: 1rem;
        font-family: JetBrains Mono;
        margin: 1rem;
        margin-top: -1rem;
    }
    
    .frivilligh2 {
        text-decoration: none;
        color: black;
        font-family: JetBrains Mono;
        font-weight: bold;
        background-color: #214F22;
        border-radius: 3px;
        padding: 4px 1px;
        border: none;
        box-shadow: 2px 2px 4px 2px black;
        text-align: center;
        margin-top: 1rem;
    }
    
    .frivilligtext1{
        text-align: justify;
        margin: 1rem;
        font-family: JetBrains Mono;
        line-height: 1.8rem;  
        font-size: 0.8rem; 
        margin-top: 2rem;
    }
    
    h4 {
        text-align: center;
        font-size: 1rem;
        font-family: JetBrains Mono;
        margin-top: 0.8rem; 
    }
    
    .frivilligbillede123 {
        position: relative;
        width: 275px;
        height: 325px;
    }
    
    .mand{
        position: absolute;
        height: 7rem;
        width: 11rem;
        top: 1rem;
        right: 5rem;
    }
    
    .blae{
        position: absolute;
        height: 7rem;
        width: 11rem;
        top: 1rem;
        right: -11rem;
        
    }
    
    .pige {
        position: absolute;
        height: 7rem;
        width: 11rem;
        top: 1rem;
        right: -27rem;
        
    }
    
    .frivilligh22 {
        text-decoration: none;
        color: black;
        font-family: JetBrains Mono;
        font-weight: bold;
        background-color: #214F22;
        border-radius: 3px;
        padding: 4px 1px;
        border: none;
        box-shadow: 2px 2px 4px 2px black;
        text-align: center;
        margin-top: -10rem;
    }
    
    .frivilligtext2{
        text-align: justify;
        margin: 1rem;
        font-family: JetBrains Mono;
        line-height: 1.8rem;  
        font-size: 0.8rem; 
        margin-top: 2rem;
    }
    
    .frivillig4 {
        height: 18rem;
        width: 46rem;
        margin: 1rem;
    }
    
    
    .footerbox {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: 3rem;
        margin-top: 1rem;
    }
    
    .footerhr {
        border-color: black;
        margin-top: 2rem;
    }
    h5 {
        line-height: 2rem;
        text-align: center;
        font-size: 1.2rem;
        margin-top: 1rem;
    }
    .lokation{
        line-height: 2rem;
        text-align: center;
    
    }
    
    .kontaktoplysninger{
        line-height: 2rem;
        text-align: center;
    }
    
    p {
        font-size: 0.8rem;
    }
    
    .instagramlogo {
        width: 2rem;
        height: 2rem;
        margin-right: 1rem;
        border-radius: 0.5rem;
    }
    
    .facebooklogo {
        width: 2rem;
        height: 2rem;
    }




}