* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: JetBrains Mono;
    src: url(/fonts/JetBrainsMono-Regular.ttf);
}


@media screen and (max-width: 391px ) {
* {
font-family: JetBrains Mono;
}   
body {
    background: linear-gradient(
        to bottom, 
        #FF5733 20%,  /* Startfarve: orange */
        #3498DB 80%   /* Slutfarve: blå */
      );
} 

.forsidelogo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 70px;
    margin: auto; 
    padding-top: 1rem;
}
.line {
    height: 0.2rem;
    background-color: #214F22; 
    margin: 5px 0;
    border-radius: 0.2rem; 
}

.burger-checkbox {
    display: none;
}

.burger {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    position: absolute;
    top: 2rem;
    right: 1rem;
    width: 3rem;
    margin: 0.5rem;
    }

.menubar {
    display: none; 
    background-color: #FF5733;
    position: absolute;
    top: 5rem; 
    right: 0;
    width: 100%;
    text-align: left;
    font-family: JetBrains Mono;
    z-index: 9999;
}

.burger-checkbox:checked + .burger + .menubar {
    display: block;
}

.menubar ul {
    flex-direction: column;
    width: 100%;
    gap: 0;
}

.menubar ul li {
    text-align: center;
}

.submenu {
    position: static;
    padding: 0;
}

.menubar ul li:hover .submenu {
    display: none; 
}

.submenu ul li {
    text-align: left;
    padding: 0.5rem 1rem;
}

.menuhr {
    border-color: black;
    margin: 1rem;
    
}

h2 {
    text-align: left;
    font-size: 1.2rem;
    font-family: JetBrains Mono;
    margin: 1rem;
}
.h2artister {
    text-decoration: none;
    color: black;
    font-family: JetBrains Mono;
    font-weight: bold;
    background-color: #215C4C;
    border-radius: 3px;
    padding: 4px 1px;
    position: absolute;
    border: none;
    box-shadow: 2px 2px 4px 2px black;
    text-align: center;
    margin-top: -6rem;
} 

.femytext{
    text-align: justify;
    margin: 1rem;
    font-family: JetBrains Mono;
    line-height: 1.8rem;  
    font-size: 0.8rem; 
    margin-top: 7rem;
}

.femybillede{
    height: 16rem;  
    width: 20rem;
    margin: 2rem;
    box-shadow: 2px 2px 4px 2px black;
}

.h2artister1 {
    text-decoration: none;
    color: black;
    font-family: JetBrains Mono;
    font-weight: bold;
    background-color: #215C4C;
    border-radius: 3px;
    padding: 4px 1px;
    position: absolute;
    border: none;
    box-shadow: 2px 2px 4px 2px black;
    text-align: center;
    margin-top: -5rem;
} 

.joeandtheshitboystext{
    text-align: justify;
    margin: 1rem;
    font-family: JetBrains Mono;
    line-height: 1.8rem;  
    font-size: 0.8rem; 
    margin-top: 6rem;
}

.joeandtheshitboysbillede {
    height: 16rem;  
    width: 20rem;
    margin: 2rem;
    border: 20px solid #215C4C;
    text-align: center;  
    box-shadow: 2px 2px 4px 2px black;
}

.footerbox {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 3rem;
}

.footerhr {
    border-color: black;
}
h5 {
    line-height: 2rem;
    text-align: center;
    font-size: 1.2rem;
    margin-top: 1rem;
}
.lokation{
    line-height: 2rem;
    text-align: center;

}

.kontaktoplysninger{
    line-height: 2rem;
    text-align: center;
}

p {
    font-size: 0.8rem;
}

.instagramlogo {
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
    border-radius: 0.5rem;
}

.facebooklogo {
    width: 2rem;
    height: 2rem;
}
.somelogo{
    display: flex;
    justify-content: space-evenly;
}
}





@media (min-width: 392px) and (max-width: 768px) {
    * {
        font-family: JetBrains Mono;
    }
    
    body {
        background: linear-gradient(
            to bottom, 
            #FF5733 20%,  
            #3498DB 80%   
          );
    }


    .forsidelogo {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80px;
        height: 90px;
        margin: auto; 
        padding-top: 1rem;
    }
    .line {
        height: 0.2rem;
        background-color: #214F22; 
        margin: 5px 0;
        border-radius: 0.2rem; 
    }

    .burger-checkbox {
        display: none;
    }

    .burger {
        display: flex;
        flex-direction: column;
        cursor: pointer;
        position: absolute;
        top: 2rem;
        right: 1rem;
        width: 3rem;
        margin: 0.5rem;
        }

    .menubar {
        display: none; 
        background-color: #FF5733;
        position: absolute;
        top: 5rem; 
        right: 0;
        width: 100%;
        text-align: left;
        font-family: JetBrains Mono;
        z-index: 9999;
    }

    .burger-checkbox:checked + .burger + .menubar {
        display: block;
    }

    .menubar ul {
        flex-direction: column;
        width: 100%;
        gap: 0;
    }

    .menubar ul li {
        text-align: center;
    }

    .submenu {
        position: static;
        padding: 0;
    }

    .menubar ul li:hover .submenu {
        display: none; 
    }

    .submenu ul li {
        text-align: left;
        padding: 0.5rem 1rem;
    }
    
    .menuhr {
        border-color: black;
        margin: 1rem;
        
    }
    
    h2 {
        text-align: left;
        font-size: 1.2rem;
        font-family: JetBrains Mono;
        margin: 1rem;
    }
    .h2artister {
        text-decoration: none;
        color: black;
        font-family: JetBrains Mono;
        font-weight: bold;
        background-color: #214F22;
        border-radius: 3px;
        padding: 4px 1px;
        border: none;
        box-shadow: 2px 2px 4px 2px black;
        text-align: center;
        margin-top: 1rem;
    } 
    
    .femytext{
        text-align: justify;
        margin: 1rem;
        font-family: JetBrains Mono;
        line-height: 1.8rem;  
        font-size: 0.8rem; 
        margin-top: 2rem;
    }
    
    .femybillede{
        height: 20rem;  
        width: 44rem;
        margin: 2rem;
        box-shadow: 2px 2px 4px 2px black;
    }
    
    .h2artister1 {
        text-decoration: none;
        color: black;
        font-family: JetBrains Mono;
        font-weight: bold;
        background-color: #214F22;
        border-radius: 3px;
        padding: 4px 1px;
        border: none;
        box-shadow: 2px 2px 4px 2px black;
        text-align: center;
        margin-top: 1rem;
    } 
    
    .joeandtheshitboystext{
        text-align: justify;
        margin: 1rem;
        font-family: JetBrains Mono;
        line-height: 1.8rem;  
        font-size: 0.8rem; 
        margin-top: 2rem;
    }
    
    .joeandtheshitboysbillede {
        height: 20rem;  
        width: 44rem;
        margin: 2rem;
        border: 20px solid #214F22;
        text-align: center;  
        box-shadow: 2px 2px 4px 2px black;
    }
    
    .footerbox {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: 1rem;
    }
    
    .footerhr {
        border-color: black;
    }
    h5 {
        line-height: 2rem;
        text-align: center;
        font-size: 1.2rem;
        margin-top: 1rem;
    }
    .lokation{
        line-height: 2rem;
        text-align: center;
    }
    
    .kontaktoplysninger{
        line-height: 2rem;
        text-align: center;
    }
    
    p {
        font-size: 0.8rem;
    }
    
    .instagramlogo {
        width: 2rem;
        height: 2rem;
        margin-right: 1rem;
        border-radius: 0.5rem;
    }
    
    .facebooklogo {
        width: 2rem;
        height: 2rem;
    }
    .somelogo{
        display: flex;
        justify-content: space-evenly;
    }
}




@media (min-width: 769px)  {
    * {
        font-family: JetBrains Mono;
    }
    
    body {
        background: linear-gradient(
            to bottom, 
            #FF5733 20%,  /* Startfarve: orange */
            #3498DB 80%   /* Slutfarve: blå */
          );
    }

    .burger-checkbox {
        display: none;
  }
    
    .navbar {
        display: flex;
        justify-content: space-around;
    }
    .forsidelogo {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 110px;
        height: 120px;
        margin-left: 3rem; 
        padding-top: 1rem;
  }
    .menubar {
        text-align: center;
        background-color: #FF5733;
    }
    
    .menubar ul {
        display:inline-flex;
        color:#FF5733;
        padding-top: 5rem;
    }
    
    .menubar ul li {
        width: 220px;
        margin: 15px;
        padding: 15px;  
        list-style: none;
    }
    
    .menubar ul li a {
        transition: color 0.3s;
    }
    
    .menubar ul li a:hover {
        transform: scale(1.1);
    }
    
    
    .menubar ul li a {
        text-decoration: none;
        color: black;
    }
    
    .submenu {
        display: none;
    }
    
    .menubar ul li:hover .submenu {
        display: block;
        position:absolute;
        background-color: #FF5733;
        margin-top: 15px;
        margin-left: -15px;
    }
    
    .menubar ul li:hover .submenu ul {
        display: block;
        margin: 10px;
        padding-top: 10px;
    }
    
    .menubar ul li:hover .submenu ul li {
        width: 150px;
        padding: 10px;
        border-bottom: 1px solid black
    }
    
    .menubar ul li:hover .submenu ul li:last-child {
        border-bottom: none;
    }
    
    .menubar ul li:hover .submenu ul li a {
        transition: color 0.3s;
    }
    
    .menubar ul li:hover .submenu ul li a:hover {
        color: black;
    }
    
    .submenu2 {
        display: none;
    }
    
    .hoverme:hover .submenu2{
        position: absolute;
        display: block;
        margin-top: -40px;
        margin-left: 140px;
        background-color: black;
    }

    .menuhr {
        border-color: black;
        margin: 1rem;  
    }
    
    h2 {
        text-align: left;
        font-size: 1.2rem;
        font-family: JetBrains Mono;
        margin: 1rem;
    }
    .h2artister {
        text-decoration: none;
        color: black;
        font-family: JetBrains Mono;
        font-weight: bold;
        background-color: #214F22;
        border-radius: 3px;
        padding: 4px 1px;
        border: none;
        box-shadow: 2px 2px 4px 2px black;
        text-align: center;
        margin-top: 1rem;
        font-size: 1.5rem;
    } 
    
    .femytext{
        text-align: justify;
        margin: 1rem;
        font-family: JetBrains Mono;
        line-height: 1.8rem;  
        font-size: 1rem; 
        margin-top: 2rem;
        margin-right: 49rem;
    }
    
    .femybillede{
        height: 16rem;
        width: 40rem;
        margin: 44rem;
        box-shadow: 2px 2px 4px 2px black;
        margin-top: -18rem;
    }
    
    .h2artister1 {
        text-decoration: none;
        color: black;
        font-family: JetBrains Mono;
        font-weight: bold;
        background-color: #214F22;
        border-radius: 3px;
        padding: 4px 1px;
        border: none;
        box-shadow: 2px 2px 4px 2px black;
        text-align: center;
        margin-top: -40rem;
        font-size: 1.5rem;
    } 
    
    .joeandtheshitboystext{
        text-align: justify;
        margin: 1rem;
        font-family: JetBrains Mono;
        line-height: 1.8rem;  
        font-size: 1rem; 
        margin-top: 2rem;
    }
    
    .joeandtheshitboysbillede {
        height: 30rem;
        width: 54rem;
        margin: 18rem;
        margin-top: 2rem;
        border: 20px solid #214F22;
        text-align: center;
        box-shadow: 2px 2px 4px 2px black;
    }
  
    .footerbox {
        display: flex;
        align-items: center;
        flex-direction: row;
        margin: 1rem;
        justify-content: space-evenly;
    }
    
    .footerhr {
        border-color: black;
        margin-top: -12rem;
    }
    h5 {
        line-height: 2rem;
        text-align: center;
        font-size: 1.2rem;
        margin-top: 1rem;
    }
    .lokation{
        line-height: 2rem;
        text-align: center;
    
    }
    
    .kontaktoplysninger{
        line-height: 2rem;
        text-align: center;
    }
    
    p {
        font-size: 0.8rem;
    }
    
    .instagramlogo {
        width: 2rem;
        height: 2rem;
        margin-right: 1rem;
        border-radius: 0.5rem;
    }
    
    .facebooklogo {
        width: 2rem;
        height: 2rem;
    }

    .somelogo{
        display: flex;
        justify-content: space-evenly;
    }

}
